label {
    width:150px;
    display: inline-block;
}

span{

    color:red;
    font-weight: bold;
    margin-left: 20px;
}

body{
    background: #7dff09;
}

div{

    border: 2px solid #5268ff;
    background: #21ffd5;
}







