<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>


<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>
	<div>

		<h2>Connexion</h2>
		<form th:name="connexion" th:action="@{/connexion}" method="POST">

			<label>Identifiant</label><input type="email" id="email"
				name="email"> <label>Mot de passe :</label> <input
				type="password" id="motDePasse" name="motDePasse"> <input
				type="submit" value="Se connecter"> <br>
			<span th:text="${message != null} ? ${message} : ''"></span>



		</form>

	</div>

</body>
</html>