<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
 
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>
<div>
    
    <a href="inscription.html"><h2>Inscription</h2></a>
    <form th:name="inscription" th:action="@{/getformulaire}" method="get">
      <input type="submit" value="valider">  
    </form>
    
    
</div>
<div>

    <h2>Connexion</h2><b></b>
    
    <p>Mot de passe oublié</p>
    
</div>

</body>
</html>