<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
 

    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/static/css/index.css}" />
</head>
<body>
<div>
    
    <a href="inscription.html"><h2>Inscription</h2></a>
    
    <form name="inscription" action="/inscription" method="get">
        
        
        
        
        
    </form>
    
    
</div>
<div>

    <h2>Connexion</h2><b></b>
    
    <p>Mot de passe oublié</p>
    
    
    
    
    
    
</div>




<p>hello</p>
</body>
</html>