<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">


    <!--  <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/static/css/index.css}"/>-->
</head>
<body>
<div>

    <h2>Inscription</h2>


    <!--<form name="form" th:action="@{/formulaire}" th:object="${utilisateur}"
          method="post">

        <label>Email :</label> <input type="text" id="email"
                                      th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p><br>


        <label>Sexe:</label> <input type="radio" id="F"
                                    th:field="*{sexe}" value="H"> <input type="radio"
                                                                         id="F" th:field="*{sexe}" value="F">
        <p th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}"></p><br>


        <label>Nom:</label> <input type="text" id="nom" th:field="*{nom}">
        <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></p><br>

        <label for="prenom">Prenom:</label> <input type="text" id="prenom"
                                                   th:field="*{prenom}">
        <p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></p><br>


        <label for="pseudo">Pseudo:</label> <input type="text" id="pseudo"
                                                   th:field="*{pseudo}">
        <p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></p><br>

        <label for="motDePasse">Mot de passe :</label> <input type="password" id="motDePasse"
                                                       th:field="*{motDePasse}">
        <p th:if="${#fields.hasErrors('motDePasse')}" th:errors="*{motDePasse}"></p><br>


        <label>Date de naissance:</label> <input type="date"
                                                 id="dateDeNaissance" th:field="*{dateDeNaissance}">
        <p th:if="${#fields.hasErrors('dateDeNaissance')}"
           th:errors="*{dateDeNaissance}"></p><br>

        <label>Telephone: </label> <input type="text" id="numeroTel"
                                          th:field="*{numeroTel}">
        <p th:if="${#fields.hasErrors('numeroTel')}" th:errors="*{numeroTel}"></p><br>


        <label>Code Postal :</label> <input type="text" id="cp"
                                            th:field="*{cp}">
        <p th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}"></p><br>

        <label>Ville :</label> <input type="text" id="ville"
                                      th:field="*{ville}"><br>
        <p th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></p><br>


        <input type="submit" value="valider">

    </form>-->

</div>


</body>
</html>