<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script>
        submitForms = function() {

                document.getElementById("form1").submit();
               /* document.getElementById("form2").submit();*/

            return true;
        }


    </script>

</head>
<body>
<div>

    <h2>Inscription</h2>
    <p><strong>Utilisateur:</strong></p>
    <div>
        <form id="form1" th:action="@{/formulaire1}" th:object="${utilisateur}"
              method="post">

            <label>Email :</label> <input type="text" id="emailUtilisateur"
                                          th:field="*{emailUtilisateur}">
            <p th:if="${#fields.hasErrors('emailUtilisateur')}" th:errors="*{emailUtilisateur}"></p><br>


            <label>Sexe:</label> <input type="radio" id="H" th:name="sexe"
                                        th:field="*{sexe}" value="H"> <input type="radio"
                                                                             id="F" th:name="sexe" th:field="*{sexe}"
                                                                             value="F">
            <p th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}"></p><br>


            <label>Nom:</label> <input type="text" id="nom" th:field="*{nom}">
            <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></p><br>

            <label for="prenom">Prenom:</label> <input type="text" id="prenom"
                                                       th:field="*{prenom}">
            <p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></p><br>


            <label for="pseudo">Pseudo:</label> <input type="text" id="pseudo"
                                                       th:field="*{pseudo}">
            <p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></p><br>

            <label for="motDePasse">Mot de passe :</label> <input type="password" id="motDePasse"
                                                                  th:field="*{motDePasse}">
            <p th:if="${#fields.hasErrors('motDePasse')}" th:errors="*{motDePasse}"></p><br>


            <label>Date de naissance:</label> <input type="date"
                                                     id="dateDeNaissance" th:field="*{dateDeNaissance}">
            <p th:if="${#fields.hasErrors('dateDeNaissance')}"
               th:errors="*{dateDeNaissance}"></p><br>

            <label>Telephone: </label> <input type="text" id="numeroTel"
                                              th:field="*{numeroTel}">
            <p th:if="${#fields.hasErrors('numeroTel')}" th:errors="*{numeroTel}"></p><br>


            <label>Description :</label> <input type="text" id="description"
                                                th:field="*{description}"><br>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p><br>
            <label>Type: </label> <input type="text" id="type"
                                              th:field="*{type}">
            <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p><br>


        </form>
    </div>
    <div>
        <p><strong>Adresse:</strong></p>

        <form id="form2" th:action="@{/formulaire2}" th:object="${adresse}"
              method="post">

            <label>Numero :</label> <input type="number" id="numero"
                                                th:field="*{numero}">
            <p th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></p>
            <br>
            <label>Prefixe :</label>

            <select name="prefixe" th:field="${adresse.prefixe}">
                <option th:each="type : ${T(com.formation.siterencontre.entities.Prefixe).values()}" th:name="${type}" th:value="${type}" th:utext="${type}" />
            </select><br>

            <label>Type rue :</label>
                <select name="typeRue" th:field="${adresse.typeRue}">
                    <option th:each="type : ${T(com.formation.siterencontre.entities.TypeRue).values()}" th:name="${type}" th:value="${type}" th:utext="${type}" />
                </select><br>

            <label>Nom rue :</label> <input type="text" id="nomRue"
                                          th:field="*{nomRue}"><br>
            <p th:if="${#fields.hasErrors('nomRue')}" th:errors="*{nomRue}"></p><br>
            <label>Complément :</label> <input type="text" id="complement"
                                          th:field="*{complement}"><br>
            <p th:if="${#fields.hasErrors('complement')}" th:errors="*{complement}"></p><br>

            <label>Code Postal :</label>
            <input type="number" id="codePostal"
                   th:field="*{codePostal}">
            <p th:if="${#fields.hasErrors('codePostal')}"
               th:errors="*{codePostal}"></p><br>


            <label>Ville :</label> <input type="text" id="ville"
                                          th:field="*{ville}"><br>
            <p th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></p><br>

        </form>


    </div>

    <input type="submit" value="submit" onclick="submitForms()" />


</div>


</body>
</html>