<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <!-- <script>
         submitForms = function() {
                 document.getElementById("form1").submit();
                 document.getElementById("form2").submit();
             return true;  } </script>-->

</head>
<body>

<form id="form1" th:action="@{/formulaire}"
      method="post">
    <h2>Inscription</h2>

    <!--###################################     UTILISATEUR    ###################################-->
    <p><strong>Utilisateur:</strong></p>
    <div>
        <!--<label th:for="emailUtilisateur" th:text="#{utilisateur.emailUtilisateur}"></label>-->


        <label>Email:</label><input type="text" id="emailUtilisateur" th:field="*{utilisateur.emailUtilisateur}">
        <p th:if="${#fields.hasErrors('utilisateur.emailUtilisateur')}" th:errors="*{utilisateur.emailUtilisateur}"></p><br>

        <label>Sexe:</label>
        <input th:each="type : ${T(com.formation.siterencontre.enums.Sexe).values()}" type="radio" id="${type}" th:name="sexe"th:field="*{utilisateur.sexe}" th:value="${type}"th:utext="${type}"/>
        <p th:if="${#fields.hasErrors('utilisateur.sexe')}" th:errors="*{utilisateur.sexe}"></p><br>



        <label>Nom:</label> <input type="text" id="nom" th:field="*{utilisateur.nom}">
        <p th:if="${#fields.hasErrors('utilisateur.nom')}" th:errors="*{utilisateur.nom}"></p><br>

        <label for="prenom">Prenom:</label> <input type="text" id="prenom" th:field="*{utilisateur.prenom}">
        <p th:if="${#fields.hasErrors('utilisateur.prenom')}" th:errors="*{utilisateur.prenom}"></p><br>


        <label for="pseudo">Pseudo:</label> <input type="text" id="pseudo" th:field="*{utilisateur.pseudo}">
        <p th:if="${#fields.hasErrors('utilisateur.pseudo')}" th:errors="*{utilisateur.pseudo}"></p><br>

        <label for="motDePasse">Mot de passe :</label> <input type="password" id="motDePasse" th:field="*{utilisateur.motDePasse}">
        <p th:if="${#fields.hasErrors('utilisateur.motDePasse')}" th:errors="*{utilisateur.motDePasse}"></p><br>


        <label>Date de naissance:</label> <input type="date" id="dateDeNaissance" th:field="*{utilisateur.dateDeNaissance}">
        <p th:if="${#fields.hasErrors('utilisateur.dateDeNaissance')}" th:errors="*{utilisateur.dateDeNaissance}"></p><br>

        <label>Telephone: </label> <input type="text" id="numeroTel" th:field="*{utilisateur.numeroTel}">
        <p th:if="${#fields.hasErrors('utilisateur.numeroTel')}" th:errors="*{utilisateur.numeroTel}"></p><br>


        <label>Description :</label> <input type="text" id="description" th:field="*{utilisateur.description}"><br>
        <p th:if="${#fields.hasErrors('utilisateur.description')}" th:errors="*{utilisateur.description}"></p><br>

        <label>Type: </label> <input type="text" id="type" th:field="*{utilisateur.type}">
        <p th:if="${#fields.hasErrors('utilisateur.type')}" th:errors="*{utilisateur.type}"></p>
    </div>

    <!--###################################     ADRESSE    ###################################-->
    <p><strong>Adresse:</strong></p>
    <div>
        <label>Numero :</label> <input type="number" id="numero" th:field="*{adresse.numero}">
        <p th:if="${#fields.hasErrors('adresse.numero')}" th:errors="*{adresse.numero}"></p><br>

        <label>Prefixe :</label>
        <select name="prefixe" th:field="${adresse.prefixe}">
         
            <option th:each="type : ${T(com.formation.siterencontre.enums.Prefixe).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>

        <label>Type rue :</label>
        <select name="typeRue" th:field="${adresse.typeRue}">
            
            <option th:each="type:${T(com.formation.siterencontre.enums.TypeRue).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>

        <label>Nom rue :</label> <input type="text" id="nomRue" th:field="*{adresse.nomRue}"><br>
        <p th:if="${#fields.hasErrors('adresse.nomRue')}" th:errors="*{adresse.nomRue}"></p><br>

        <label>Complément :</label> <input type="text" id="complement" th:field="*{adresse.complement}"><br>
        <p th:if="${#fields.hasErrors('adresse.complement')}" th:errors="*{adresse.complement}"></p><br>

        <label>Code Postal :</label> <input type="number" id="codePostal" th:field="*{adresse.codePostal}"><br>
        <p th:if="${#fields.hasErrors('adresse.codePostal')}" th:errors="*{adresse.codePostal}"></p><br>

        <label>Ville :</label> <input type="text" id="ville" th:field="*{adresse.ville}"><br>
        <p th:if="${#fields.hasErrors('adresse.ville')}" th:errors="*{adresse.ville}"></p><br>
    </div>
    <!--###################################     APPARENCE    ###################################-->
    <p><strong>Apparence:</strong></p>
    <div>
        <label>Masse :</label> <input type="number" id="masse" th:field="*{apparence.masse}">
        <p th:if="${#fields.hasErrors('apparence.masse')}" th:errors="*{apparence.masse}"></p><br>

        <label>Taille :</label> <input type="number" id="taille" th:field="*{apparence.taille}">
        <p th:if="${#fields.hasErrors('apparence.taille')}" th:errors="*{apparence.taille}"></p><br>

        <label>Couleur yeux :</label>
        <select name="couleurYeux" th:field="${apparence.couleurYeux}">
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.CouleurYeux).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>

        <label>Couleur cheveux :</label>
        <select name="couleurCheveux" th:field="${apparence.couleurCheveux}">
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.CouleurCheveux).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>

        <label>Type cheveux :</label>
        <select name="typeCheveux" th:field="${apparence.typeCheveux}">
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.TypeCheveux).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>

        <label>Origine :</label> <input type="text" id="origine" th:field="*{apparence.origine}"><br>
        <p th:if="${#fields.hasErrors('apparence.origine')}" th:errors="*{apparence.origine}"></p><br>

    </div>
    <!--###################################     CENTRE D INTERETS    ###################################-->
    <p><strong>Centre d'interets:</strong></p>
    <div>
        <label>Sport :</label> <input type="text" id="sport" th:field="*{centreInterets.sport}"><br>
        <p th:if="${#fields.hasErrors('centreInterets.sport')}" th:errors="*{centreInterets.sport}"></p><br>

        <!--<select name="sport" th:field="${centreInterets.sport}"  th:size="4" >
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.Sport).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>-->

        <label>Loisir :</label><input type="text" id="loisir" th:field="*{centreInterets.loisir}"><br>
        <p th:if="${#fields.hasErrors('centreInterets.loisir')}" th:errors="*{centreInterets.loisir}"></p><br>

       <!-- <select name="loisir" th:field="${centreInterets.loisir}" th:size="4">
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.Loisir).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>-->
    </div>

    <!--###################################     SITUATION    ###################################-->

    <p><strong>Situation:</strong></p>
    <div>
        <label>Statut personnel :</label> <input type="text" id="statutPerso" th:field="*{situation.statutPerso}"><br>
        <p th:if="${#fields.hasErrors('situation.statutPerso')}" th:errors="*{situation.statutPerso}"></p><br>

        <label>Statut professionnel :</label> <input type="text" id="statutPro" th:field="*{situation.statutPro}"><br>
        <p th:if="${#fields.hasErrors('situation.statutPro')}" th:errors="*{situation.statutPro}"></p><br>


        <label>Nombre d'enfants :</label> <input type="number" id="nbrEnfant" th:field="*{situation.nbrEnfant}">
        <p th:if="${#fields.hasErrors('situation.nbrEnfant')}" th:errors="*{situation.nbrEnfant}"></p><br>

        <label>Fumeur :</label>
        <select name="sport" th:field="${situation.fumeur}"   >
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.Fumeur).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>

        <label>Alcool :</label>
        <select name="loisir" th:field="${situation.alcool}" >
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.Alcool).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>

        <label>Orientation :</label>
        <select name="loisir" th:field="${situation.orientation}" >
            
            <option th:each="type : ${T(com.formation.siterencontre.enums.Orientation).values()}" th:name="${type}" th:value="${type}" th:utext="${type}"/>
        </select><br>
    </div>
    <input type="submit" value="submit" />


</form>


</body>
</html>